.c-red{
    color:#f00 !important;
}

#projectDetailPage {
    display: none;
    width: 800px;
    margin: 0 auto;
    padding: 50px 0 10px;
}
#projectList{
    padding:10px 0;
}
#projectList > li {
    float: left;
    display: block;
    width: 205px;
    text-align: center;
    border: 1px solid transparent;
    padding: 8px;
    margin:0 0 10px;
}
#projectList > li:hover {
    border: 1px solid #e8e8e8;
    background-color: #fffafa;
}
.projectLink {
    text-decoration: none;
    color: #4f4f4f;
    font-size: 14px;
}
.statuses{
    padding: 5px 0;
    color: #333;
    font-weight: bold;
    height: 1em;
}
.projectStatusActive .statuses{
    color: #f00;
}
.projectStatusNonActive .statuses{
    color: #6c0;
}
.projectStatusDead .statuses{
    color: #369;
}
.projectName {
    font-weight: bold;
    height: 2.5em;
    line-height:1.4;
    padding:0 0 8px;
    color: #222;
}
.projectImage {
    width: 118px;
    border: 1px solid #aaa;
}
.projectImageArea {
    width: 100%;
    height: 120px;
    text-align: center;
    overflow: hidden;
}
.projectDescription {
    height: 3em;
    margin:8px 0 0;
    padding:8px;
    border: 1px solid #fcc;
    background:#fff;
    font-size:0.83em;
    line-height:1.5;
    text-align:left;
}

#projectSummary {
    display: table;
}
#projectImageArea {
    display: table-cell;
    width: 140px;
    vertical-align: top;
}
#projectInfoArea {
    display: table-cell;
    vertical-align: top;
}
#projectInfoArea > div {
    margin-bottom: 8px;
}
.projectDetailTable {
    border: 1px solid #aaa;
    border-collapse: collapse;
}
.projectDetailTable th,.projectDetailTable td {
    border: 1px solid #aaa;
    padding: 5px;
    text-align: left;
    font-size: 1em;
    line-height: 1.5;
}
.projectDetailTable th {
    background: #eee;
}
#projectDetailPage .topLink {
    font-size: 13px;
    float: right;
    text-decoration: none;
    border: 1px solid #fcc;
    background:#fff;
    padding: 5px;
    color: #36c;
}
#projectDetailPage .topLink:hover {
    color: #c33;
    text-decoration: underline;
}
#projectDetailHeaderTitle {
    font-size: 20px;
    margin: 8px 0;
    clear: both;
    padding: 5px 0 8px;
    color: #333;
    font-weight: bold;
    border-bottom: 2px solid #111;
}
#projectDetailHeaderTitle span {
    border-left: 7px solid #111;
    display: block;
    padding: 3px 10px;
}
.projectStatusActive #projectDetailHeaderTitle {
    border-bottom: 2px solid #f00;
}
.projectStatusActive #projectDetailHeaderTitle span {
    border-left: 7px solid #f00;
}
.projectStatusNonActive #projectDetailHeaderTitle {
    border-bottom: 2px solid #6c0;
}
.projectStatusNonActive #projectDetailHeaderTitle span {
    border-left: 7px solid #6c0;
}
.projectStatusDead #projectDetailHeaderTitle {
    border-bottom: 2px solid #369;
}
.projectStatusDead #projectDetailHeaderTitle span {
    border-left: 7px solid #369;
}

#projectListArea {
    margin:0 auto;
    max-width:900px;
    min-width:180px;
}
#projectListHeader {
    padding:15px 10px;
    background:#f6f6f6;
    border-bottom:2px solid #e6e6e6;
}
#projectListHeader h1 {
    margin:0 auto;
    max-width:900px;
    min-width:180px;
    font-size:1.5em;
}
#projectListSortBox {
    margin:0 auto;
    max-width:900px;
    min-width:180px;
    height: 1em;
}
#sort {
    float: right;
}
#projectDescriptionArea {
    line-height:1.5;
}
